h1 {
  color: red;
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
}

h2 {
  color: #bfbfbf;
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
}

a {
  color: #cce6ff;
}

div#mainblock {
  color: white;
  font-family:sans-serif;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

div#bl1 {
  float: left;
  width: 20%;
}

div#bl2 {
 float: left;
  width: 20%;
}

div#bl3 {
  float: left;
  width: 20%;
}

div#bl4 {
  float: left;
  width: 20%;
}

div#bl5 {
  float: left;
  width: 20%;
}

div#homeimage {
  border: 2px white solid;
  text-align: center;

}
